[Unit]
Description=VK Bot with OpenAI and Google Drive
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
User=root
WorkingDirectory=/root/VKbotMain
ExecStart=/bin/bash -c 'source /root/VKbotMain/new_venv/bin/activate && pip install -r /root/VKbotMain/requirements.txt && source /root/VKbotMain/.env && python /root/VKbotMain/bot.py'
Restart=always
RestartSec=30
TimeoutStartSec=180
StandardOutput=append:/root/VKbotMain/logs/bot.log
StandardError=append:/root/VKbotMain/logs/bot_error.log

# Создаем необходимые директории
ExecStartPre=/bin/mkdir -p /root/VKbotMain/logs
ExecStartPre=/bin/mkdir -p /root/VKbotMain/logs/context_logs

[Install]
WantedBy=multi-user.target 